@media screen and (min-width: 320px) {
  .container-card {
    display: flex;
    flex-wrap: wrap;
    width: 303px;
    height: 762px;
    border-radius: 18px;
    border: 2px solid #111;
    background: #fff;
    margin: 0 auto;
  }

  .img-title {
    width: 287px;
    height: 408px;
    padding: 40px 24px 14px 24px;
  }

  .img-card {
    width: 287px;
    height: 408px;
  }

  .title-author {
    height: 36px;
    
  }

  .book-title {
  }

  .book-author {
  }

  .text-card {
    width: 287px;
    height: 70px;
  }

  .description {
    padding-top: 18px;
  }

  .book-shop {
 
    width: 173px;
    height: 36px;
    gap: 20px;
    background: #d5d5d5;
  }

  .btn-card {
    position: relative;
    top: 42px;
  }

  .btn {
    padding: 14px 28px;
    background: #fff;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
  }
}